[submodule "extern/CellShard"]
	path = extern/CellShard
	url = git@github.com:tumlinso/CellShard.git
[submodule "extern/CellArbor"]
	path = extern/CellArbor
	url = git@github.com:tumlinso/CellArbor.git
