[submodule "extern/CellShard"]
	path = extern/CellShard
	url = git@github.com:tumlinso/CellShard.git
[submodule "extern/cudaBioTypes"]
	path = extern/cudaBioTypes
	url = git@github.com:tumlinso/cudaBioTypes.git
