[submodule "external/highway"]
	path = Archive/current-cellerator/external/highway
	url = https://github.com/google/highway.git
[submodule "external/htslib"]
	path = Archive/current-cellerator/external/htslib
	url = https://github.com/samtools/htslib.git
[submodule "Baseplane"]
	path = components/Baseplane
	url = git@github.com:tumlinso/Baseplane.git
	branch = main
[submodule "CellShard"]
	path = components/CellShard
	url = git@github.com:tumlinso/CellShard.git
	branch = main
